@media print {
  body * {
    visibility: hidden;
  }
  #printArea * {
    visibility: visible;
  }
  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: visible;
    float: none !important; 
  }
}
